<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Vulnerable</title>
    <link rel="icon" type="image/x-icon" href="https://static.vecteezy.com/system/resources/thumbnails/071/184/913/small/shield-gray-icon-border-layer-shape-protection-security-defense-emblem-symbol-bold-outline-minimalism-png.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
         <nav>
            <ul>
            <li><a href="/dashboard"> Go to Dashboard </a></li>
            </ul>
        </nav>
    </header>

<div class="container">
    <h2 style="color:red;">Admin Panel - No Protection</h2>
    <p>Anyone can access this page!</p>
</div>

</body>
</html>
