<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="https://static.vecteezy.com/system/resources/thumbnails/071/184/913/small/shield-gray-icon-border-layer-shape-protection-security-defense-emblem-symbol-bold-outline-minimalism-png.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
         <nav>
            <ul>
            <li><a href="/" > Home </a></li>
            <li><a href="/logout"> Logout </a></li>
            </ul>
        </nav>
    </header>

<div class="container" id="c2">
    <h3>Leave a Comment</h3>
    <form method="POST" action="/add_comment">
        <textarea name="content" placeholder="Enter payload or comment..." required></textarea>
        <button type="submit">Post Comment</button>
    </form>

    <h3 style="margin-top: 30px; text-align: left;">Recent Comments:</h3>
    <div class="comments-container">
        {% for comment in comments %}
            <div class="comment-item">
                <div class="comment-meta">
                    <strong>{{ comment[1] }}</strong>
                    <span>{{ comment[3] }}</span>
                </div>
                <div class="comment-body">
                    {% if comment[2] %}
                        <span class="badge secure-badge">SECURE</span>
                        {{ comment[0] }}
                    {% else %}
                        <span class="badge vuln-badge">VULNERABLE</span>
                        {{ comment[0] | safe }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
