<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vulnerable Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="nav">
    <a href="/">Home</a>
    <a href="/secure_login_page">Secure</a>
</div>

<div class="container">
    <h2 style="color:red;">Vulnerable Login</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="text" name="password" placeholder="Enter Password" required>
        <button type="submit">Login</button>
    </form>

    <a href="/register">Create account</a>
</div>

</body>
</html>
